h1{
    text-align: center;

}
body{
    background: blue;
}

.navbar ul{
    list-style-type: none;
    background-color: white;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: aquamarine;
}

.navbar li{
    float: left;
}